</section>
<footer class="bg-indigo-500 flex md:flex-row flex-col justify-center items-center text-white md:space-x-4  p-4">
    <p>Copyright &#169; All right reserved.</p>
    <a href="/info" class=" underline focus:text-blue-900">Info</a>
</footer>
</body>
<script src="/js/script.js"></script>

</html>