<% if (error.length> 0 || locals.error.length > 0 ) { %>
    <div class="text-center bg-red-500 text-gray-100 px-3 py-1 rounded w-full">
        <h1>
            <%= error[0] || locals.error[0] %>
        </h1>
    </div>
    <% } %>

        <% if (locals.success.length> 0 ) { %>
            <div class="text-center bg-green-500 text-gray-100 px-2 py-1 rounded w-full">
                <h1>
                    <%= success[0] %>
                </h1>
            </div>
            <% } %>