<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>
        <%= title %>
    </title>
</head>

<body>

    <div>
        <!-- component -->
        <main class="h-screen w-full flex flex-col justify-center items-center bg-[#1A2238]">
            <h1 class="text-9xl font-extrabold text-white tracking-widest">404</h1>
            <div class="bg-[#FF6A3D] px-2 text-sm rounded rotate-12 absolute">
                Page Not Found
            </div>
            <div class="mt-4">
                <a href="/"
                    class="border border-[#FF6A3D] border-r-4 border-r-[#FF6A3D] border-b-4 border-b-[#FF6A3D] hover:border-r hover:border-b transition-all duration-400 px-4 py-2 rounded-md text-[#FF6A3D] focus:outline focus:outline-[#FF6A3D]">Go
                    Home</a>
            </div>
        </main>
    </div>
</body>

</html>