<%- include ('./partials/header') %>
    <%- include ('./partials/navigation') %>

        <div class="text-center text-2xl my-10">
            <h1 class="font-bold">Some error occurred!</h1>
            <p>We're working on fixing this, sorry for the inconvenience!</p>
        </div>

        <%- include ('./partials/footer') %>