<%- include ('./partials/header') %>
    <%- include ('./partials/navigation') %>


        <main>
            <div class="flex justify-center space-y-4 flex-col min-h-[50vh] items-center">
                <h1 class="font-bold text-2xl">The functionalities will be added: </h1>
                <ul class="list-disc text-lg">
                    <li>Add to Cart</li>
                    <li>Place Order</li>
                    <li>Payment</li>
                    <li>User Dashboard</li>
                    <li>Forget Password</li>
                </ul>
            </div>
        </main>
        <%- include ('./partials/footer') %>